<!DOCTYPE html>
<head>
  <script src="/static/htmx-1.9.10/htmx.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style/main.css">
  <title>kakimail</title>
</head>
<html lang="en">
<body>
  <p class="text">Sign In<p>
  <form method="post" action="/user/signin">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <br>
    <button type="submit" class="button">Sign In</button>
  </form>
</body>
</html>
